@use"variables"as v;
@use"function"as f;

@mixin cose ($colore, $br_color, $f_size: 1rem) {
    color: $colore;
    border: solid 1px;
    border-color: $br_color;
    font-size: $f_size;
}

// la stessa cosa potevo fare con mixin senza argomenti
%h1_h2{
    color: v.$verde;
}

// la funzione l'ho usata solo per alcuni valori in px non per tutti
body {
    div {
        border: solid f.conv(1) v.$rosso;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding: f.conv(20);

        h1 {
            @extend %h1_h2;
            text-decoration: underline v.$blu;
            text-underline-offset: f.conv(10px);
        }

        h2 {
            @extend %h1_h2;
            padding: 1rem;
            border: solid 1px v.$rosso;
        }

        section:nth-of-type(1) {
            display: flex;
            & article:nth-of-type(2n+1) {
                @include cose(v.$blu, v.$verde, );
                padding: 5px;
            }
            & article:nth-of-type(2n+2) {
                @include cose(v.$rosso, v.$verde, );
                padding: 5px;
            }
        }

        section:nth-of-type(2) {
            & article { /* & usato in questo modo in verità non cambia nulla ma non sapevo come altro usarlo un questo html, è piu comodo cun un :hover o simili */
                @include cose(v.$verde, v.$blu, f.conv(24))
            }
            width: 100%;
            margin: f.conv(20);
        }
    }
}